.Rectangle-440 {
    width: 1920px;
    height: 1079px;
    padding: 70px 0 69px;
    opacity: 0.2;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/musichani-88db9.appspot.com/o/Image%20WEB%2F%D7%A2%D7%99%D7%A6%D7%95%D7%91%20%D7%9C%D7%9C%D7%90%20%D7%A9%D7%9D.png?alt=media&token=8f2c40a8-ef06-493a-91c1-fd20b4c5966b")
  }