<div class="container" ><nav>
    <ul>
      <div>
        <div class="Rectangle-2"><a routerLink="/adminArea"></a></div>
        <div class="Rectangle-3"><a routerLink="/albums"><span> אלבומים </span></a></div>
        <div class="Rectangle-2"><a routerLink="/singers">singers</a></div>
        <div class="Rectangle-4"><a routerLink="/login">login</a></div>
        <div class="Rectangle-5"><a routerLink="/signUp">sign-up</a></div>
        <div class="Rectangle-6"><a routerLink="/songs">songs</a></div>
        <div class="Rectangle-437"><a routerLink="/manageSongs">manage songs</a></div>
        <div class="Rectangle-2"><a routerLink="/manageAlbums">manage albums</a></div>
        <div class="Rectangle-2"><a routerLink="/manageUsers">manage users</a></div>
      </div>
    </ul>
  </nav>
</div>
  <router-outlet></router-outlet>