.Rectangle-2 {
    width: 128px;
    height: 37px;
    margin: 79.8px 0 46px;
    padding: 8px 34px 8px 36px;
    opacity: 0.26;
    border-radius: 18.5px;
    background-color: #fff;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/musichani-88db9.appspot.com/o/Image%20WEB%2FRectangle%207.png?alt=media&token=8d0ab7db-b586-4c00-88b3-8d53d7301ee4");
  }

  .Rectangle-440 {
    width: 1920px;
    height: 1079px;
    padding: 70px 0 69px;
    opacity: 0.2;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/musichani-88db9.appspot.com/o/Image%20WEB%2F%D7%A2%D7%99%D7%A6%D7%95%D7%91%20%D7%9C%D7%9C%D7%90%20%D7%A9%D7%9D.png?alt=media&token=8f2c40a8-ef06-493a-91c1-fd20b4c5966b")
  }