<div class="container-fluid ps-md-0">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h1 class="login-heading mb-4">Add Album</h1>
                            <!-- Add album Form -->
                            <form [formGroup]="registerForm" (submit)="addAlbum()">
                              <!-- שם אלבום -->
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingPassword" placeholder="Name" formControlName="name" [(ngModel)]="album.name" 
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" id="inputPassword4">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <div *ngIf="f.name.errors.required">Name is required</div>
                                    </div>
                                    <label for="floatingPassword">Name</label>
                                </div>
  
                                <!-- תאריך -->
                                <div class="form-floating mb-3">
                                  <input matInput [matDatepicker]="picker2000" type="datetime" class="form-control" id="floatingPassword" placeholder="publicationDate" formControlName="publicationDate" [(ngModel)]="album.publicationDate" 
                                  [ngClass]="{ 'is-invalid': submitted && f.publicationDate.errors }" id="inputPassword4">
                                  <mat-datepicker-toggle matIconSuffix [for]="picker2000"></mat-datepicker-toggle>
                                  <mat-datepicker #picker2000></mat-datepicker>
                                  <label for="floatingPassword">Publication Date</label>
                                </div>
  
                                <input type="file">
  
                                <div class="d-grid">
                                  <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Add Album</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


<!-- <form (submit)="addAlbumToSinger()">
                <div>
                  <mat-form-field>
                    <mat-label>Select a singer</mat-label>
                    <mat-select [(value)]="selectedSinger" [(ngModel)]="albumToSinger.singerId" name="selectedSinger">
                      <mat-option *ngFor="let singer of singers" [value]="singer">{{ singer.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <mat-form-field>
                    <mat-label>Select an album</mat-label>
                    <mat-select [(value)]="selectedAlbum" [(ngModel)]="albumToSinger.albumId" name="selectedAlbum">
                      <mat-option *ngFor="let album of albums" [value]="album">{{ album.name }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <button type="submit" mat-raised-button color="primary">Add Album to Singer</button>
                </div>
</form> -->

<form (submit)="addAlbumToSinger()">

  <h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select [formControl]="singerSelect" [(ngModel)]="albumToSinger.singerId">
    <mat-option *ngFor="let singer of singers" [value]="singer.id">
      {{singer.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite food</mat-label>
  <mat-select [formControl]="albumSelect" [(ngModel)]="albumToSinger.albumId">
    <mat-option *ngFor="let album of albums" [value]="album.id">
      {{album.name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Add Album to singer</button>
</form>

<br>

<table>
  <tr *ngFor="let albumToSinger of albumToSingers">
      <th>{{albumToSinger.id}}</th>
      <th>{{albumToSinger.albumId}}</th>
      <th>{{albumToSinger.singerId}}</th>
  </tr>
</table>