
<!-- <button mat-button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" (click)="openDialog()">Open Table</button> -->

<!-- טבלת משתמשים -->
<div >
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>שם משתמש</th>
            <!-- <th>תפקיד</th> -->
            <th>סטטוס</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>
                <div class="d-flex align-items-center">
                  <td><img [src]="user.image" alt="" style="width: 45px; height: 45px" class="rounded-circle"></td>
                  <!-- <td>{{ user.name }}</td>
                    <td>{{ user.status }}</td> -->
                   <div class="ms-3">
                        <p class="fw-bold mb-1">{{ user.name }}</p>
                    </div>
                <!--  </div>
                <div class="d-flex align-items-center">
                    <div class="ms-3"> -->
                         
                  <!--  </div> -->
                </div>
            
        </tr>
    </tbody>
</table>
</div>

