.Rectangle-36 {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    margin: 23.5px 0 0;
    padding: 12px 70px 0 50px;
    background-color: #000000;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/musichani-88db9.appspot.com/o/Image%20WEB%2FRectangle%2036.png?alt=media&token=f38d89d4-efcb-48ec-8d18-9c5b6db379de");
  }

  .Group-19 {
    width: 228px;
    height: 15px;
    margin: 26px 26.8px 6px 0;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/musichani-88db9.appspot.com/o/Image%20WEB%2FGroup%2019.png?alt=media&token=1832f593-b4f0-4c2a-868b-deb6f34ddfa7");
  }

//   .Icon-awesome-volume-up {
//     width: 27px;
//     height: 22.5px;
//     margin: 22px 117.6px 2.5px 26.8px;
//     background-image: url("https://firebasestorage.googleapis.com/v0/b/musichani-88db9.appspot.com/o/Image%20WEB%2FIcon%20awesome-volume-up.png?alt=media&token=fca567e0-711c-4e1d-9e09-006a4dc85eb3");
//   }

  mat-slider {
    width: 250px;
  }

  .Rectangle-30 {
    margin: 0 0 0 66px;
    width: 12%; 
    height: auto; 
  }

  .rectangle {
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: 23.5px 0 0;
    padding: 12px 70px 0 50px;
    height: 100px;
    width: 100%;
    background-color: #000000;
  }

  .fa {
    margin-left: 10px;
  }

  mat-icon {
    color: aliceblue;
  }

//   .Ellipse-8 {
//     width: 44px;
//     height: 44px;
//     padding: 13px 15px 15px 16px;
//   }
